/* -- [CSS file] --*/
/*-- [Import fonts] --*/
@import url(http://fonts.googleapis.com/css?family=Special+Elite|Open+Sans);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #080808;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header, footer {
  width: 100%;
  text-align: center;
  color: #fff;

}

#fullwrap, #container {
 margin: 0 auto;
 padding: 2em;
 /*border: 1px solid #fff;*/
   
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


/*----[jackpot]----*/

#logo {
  margin: 0 auto;
  display: block;
  background-color: #fff;
  width: 52px;
  height: 50px;
  border-radius: 50px;
  padding: 10px 5px 10px 1px;
  text-align: center;
}

header > h1{
  font-family: 'Special Elite', cursive;
}

/*.jerk {
  font-family: 'Special Elite', cursive;
}*/

#container {
  padding: 2em 5em;
  border: 2px dash #EEb422;
}

#slot1, #slot2, #slot3{
  border: 5px solid #EEB422;
  border-radius: 10px;
  width: 30.99%;
  height: 200px;
  float: left;
  margin: 0 10px;
  padding: 60px 0;
  text-align: center;
  font-size: 2.5em;
  background-image: linear-gradient(#333, #7D7D7D);
}


button {
 background-color: #333;
 border: 1px solid #fff;
 text-align: center;
 display: block;
 margin: 40px auto;
 padding: 10px 75px;
 color: #fff;
 border-radius: 20px;
}

button:hover {
  background-color: #EEB422;
  background-image: linear-gradient(#EEB422, #EEAD0E );
}

button:active {

}

button > h2 {
  font-size: 2em;
}

button > img {
  display: block;
  margin: 10px auto;
  width: 60px;
}

button > img:hover {
  -webkit-transform: perspective( 400px ) rotateX( 180deg );
  -webkit-transition: all .4s ease;
}

/*/*--- [Media Queries] --

@media only screen and (min-width: 1200px){

}

@media only screen and (min-width: 913px) and (max-width: 1199px){

}

@media only screen and (min-width: 769px) and (max-width: 912px){

}

@media only screen and (min-width: 320px) and (max-width: 768px){

}*/